@use '../../../../../styles/components/product-grid' as product-grid;

:host {
  display: block;
  width: 100%;
  min-width: 0;
}

.dashboard-products {
  width: 100%;
  min-width: 0;

  &__grid {
    @include product-grid.product-grid;
  }

  &__loading {
    display: flex;
    min-height: 12rem;
    align-items: center;
    justify-content: center;

    color: var(--sf-color-text-tertiary);
  }
}
