:host {
  display: inline-flex;
}

.loading-spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.loading-spinner__indicator {
  width: 64px;
  height: 64px;

  border: 6px solid var(--sf-color-surface);
  border-top-color: var(--sf-color-primary);
  border-radius: 50%;

  animation: loading-spinner-rotate 0.8s linear infinite;
}

.loading-spinner--sm .loading-spinner__indicator {
  width: 32px;
  height: 32px;
  border-width: 4px;
}

.loading-spinner--lg .loading-spinner__indicator {
  width: 80px;
  height: 80px;
  border-width: 7px;
}

@keyframes loading-spinner-rotate {
  to {
    transform: rotate(360deg);
  }
}
