@use '../../../../../styles/mixins' as mixins;
@use '../../../../../styles/tokens' as tokens;

:host {
  display: block;
  min-width: 0;
  min-height: 100%;
}

.auth-hero {
  position: relative;

  display: flex;
  min-height: 100dvh;
  flex-direction: column;

  overflow: hidden;

  padding: 0 var(--sf-space-10) var(--sf-space-8) 6.75rem; /* 108px */

  background-color: var(--sf-color-background);

  background-image: linear-gradient(
      90deg,
      rgb(255 255 255 / 0%) 55%,
      rgb(255 255 255 / 20%) 72%,
      rgb(255 255 255 / 100%) 100%
  ),
  url('/images/auth/auth-hero.png');

  background-repeat: no-repeat,
  no-repeat;

  background-position: center,
  center bottom;

  background-size: 100% 100%,
  cover;

  app-auth-logo,
  &__title {
    position: relative;
    z-index: 1;
  }

  &__title {
    display: flex;
    width: fit-content;
    flex-direction: column;

    margin-block-start: calc(
      var(--sf-space-16) +
      var(--sf-space-8)
    );

    @include mixins.heading-1;
  }

  &__title-primary {
    color: var(--sf-color-text-primary);
  }

  &__title-accent {
    align-self: flex-end;

    margin-inline-start: var(--sf-space-16);

    color: var(--sf-primary-100);
  }
}

/* =========================================================
 * Laptop
 * 1024px–1439px
 * ======================================================= */

@media(min-width: tokens.$breakpoint-laptop) and (max-width: tokens.$breakpoint-laptop-max) {
  .auth-hero {
    padding: var(--sf-space-8) var(--sf-space-8) var(--sf-space-8) var(--sf-space-16);

    &__title {
      margin-block-start: calc(
        var(--sf-space-16) +
        var(--sf-space-6)
      );
    }

    &__title-accent {
      margin-inline-start: var(--sf-space-10);
    }
  }
}

/* =========================================================
 * Tablet and mobile
 * Below 1024px
 * ======================================================= */

@media (max-width: tokens.$breakpoint-tablet-max) {
  .auth-hero {
    min-height: 18rem;

    padding: var(--sf-space-6);

    background-image: linear-gradient(
        180deg,
        rgb(255 255 255 / 0%) 55%,
        rgb(255 255 255 / 20%) 75%,
        rgb(255 255 255 / 100%) 100%
    ),
    url('/images/auth/auth-hero.png');

    background-position: center,
    center 65%;

    background-size: 100% 100%,
    cover;

    &__title {
      margin-block-start: var(--sf-space-8);
    }
  }
}
