@use '../../../../styles/mixins' as mixins;

:host {
  display: block;
  width: 100%;
  min-width: 0;
}

.summary-card {
  display: grid;
  width: 100%;
  min-width: 0;
  height: 8.25rem; /* 132px */

  grid-template-columns:
    minmax(0, 1fr)
    auto;

  grid-template-rows:
    minmax(0, 1fr)
    auto;

  gap: var(--sf-space-1); /* 4px */

  padding: var(--sf-space-4); /* 16px */

  border-radius: var(--sf-radius-control); /* 10px */

  background-color: var(--sf-color-surface);

  box-shadow: 0 0 0 0.0625rem rgb(214 204 204 / 25%);

  &__content {
    display: flex;
    min-width: 0;
    grid-column: 1;
    grid-row: 1 / span 2;
    flex-direction: column;
    justify-content: space-between;
  }

  &__label {
    color: var(--sf-color-text-tertiary);

    @include mixins.heading-4;
    @include mixins.truncate;
  }

  &__value {
    color: var(--sf-color-text-primary);

    @include mixins.heading-3;
  }

  &__description {
    color: var(--sf-color-text-muted);

    @include mixins.secondary-text(
        var(--sf-font-weight-medium)
    );

    @include mixins.truncate;
  }

  &__icon {
    grid-column: 2;
    grid-row: 2;

    width: var(--sf-size-icon-2xl);
    height: var(--sf-size-icon-2xl);

    justify-self: end;
    align-self: end;

    color: currentColor;
  }

  &--info {
    color: var(--sf-color-info);
  }

  &--warning {
    color: var(--sf-color-warning);
  }

  &--error {
    color: var(--sf-color-error);
  }

  &--success {
    color: var(--sf-color-success);
  }
}
