:root {
  /* =========================================================
   * Brand
   * ======================================================= */

  --sf-blue-100: #ebf0f8;
  --sf-blue-200: #d6e0f1;
  --sf-blue-300: #c2d1eb;
  --sf-blue-500: #82a6e5;
  --sf-blue-600: #6092e7;

  /* =========================================================
   * Neutral
   * ======================================================= */

  --sf-white: #ffffff;

  --sf-gray-50: #dee2e6;

  --sf-gray-300: #adb5bd;

  --sf-gray-400: #7e7e80;

  --sf-gray-500: #6c757d;

  --sf-gray-600: #666666;

  --sf-gray-700: #495057;

  --sf-gray-800: #434148;

  --sf-gray-850: #3b3c3c;

  --sf-gray-900: #232326;

  --sf-gray-950: #212529;

  /* =========================================================
   * Semantic palette
   * ======================================================= */

  --sf-red-500: #e53e3e;
  --sf-red-50: #fbefed;

  --sf-orange-500: #ff9a26;
  --sf-orange-50: #fff8f7;

  --sf-green-500: #22c55e;
  --sf-green-50: #effdf4;

  --sf-info-500: #0084ff;

  --sf-recipe-500: #eda292;
}
