:root {
  /* =========================================================
   * Border radii
   * ======================================================= */

  --sf-radius-checkbox: 0.25rem; /* 4px */
  --sf-radius-navigation: 0.5rem; /* 8px */
  --sf-radius-card-media: 0.5rem; /* 8px */
  --sf-radius-control: 0.625rem; /* 10px */
  --sf-radius-checklist-card: 0.9375rem; /* 15px */
  --sf-radius-tip-frame: 1rem; /* 16px */
  --sf-radius-full: 6.25rem; /* 100px */
}
