:root {
  /* =========================================================
   * Shadows
   * ======================================================= */

  --sf-shadow-none: none;

  /* =========================================================
   * Tip frame
   * ======================================================= */

  --sf-shadow-tip-frame-info: 0 0.0625rem 0.625rem 0 rgb(4 104 255 / 15%);

  --sf-shadow-tip-frame-warning: 0 0.0625rem 0.625rem 0 rgb(255 121 4 / 15%);

  --sf-shadow-tip-frame-error: 0 0.0625rem 0.625rem 0 rgb(255 4 4 / 15%);

  /* =========================================================
   * Focus
   * ======================================================= */

  --sf-shadow-focus: 0 0 0 0.125rem rgb(96 146 231 / 20%);
}
