:root {
  /* =========================================================
   * Shadows
   * ======================================================= */

  --sf-shadow-none: none;

  --sf-shadow-tip-frame: 0 0.0625rem 0.625rem 0 rgb(4 104 255 / 15%);

  /* =========================================================
   * Focus
   * ======================================================= */

  --sf-shadow-focus: 0 0 0 0.125rem rgb(96 146 231 / 20%);
}
