:root {
  --sf-size-control-md: 3rem; /* 48px */
  --sf-size-control-lg: 3.5rem; /* 56px */

  --sf-size-icon-sm: 1rem; /* 16px */
  --sf-size-icon-md: 1.25rem; /* 20px */
  --sf-size-icon-lg: 1.5rem; /* 24px */
}
