@use '../../../../styles/components/form-field' as form-field;
@use '../../../../styles/mixins' as mixins;

@include form-field.form-control-base(
    'password-field'
);

.password-field {
  &__control {
    padding-inline-end: calc(
      var(--sf-space-4) +
      var(--sf-size-icon-lg) +
      var(--sf-space-3)
    );
  }

  &__placeholder-icon {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: var(--sf-space-4);

    width: var(--sf-size-icon-lg);
    height: var(--sf-size-icon-lg);

    color: var(--sf-color-control-icon);

    pointer-events: none;
    transform: translateY(-50%);

    transition: color var(--sf-duration-fast) var(--sf-easing-standard);
  }

  &__visibility-button {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: var(--sf-space-4);

    display: inline-grid;
    width: var(--sf-size-icon-lg);
    height: var(--sf-size-icon-lg);
    place-items: center;

    padding: 0;
    border: 0;
    border-radius: var(--sf-radius-checkbox);

    background-color: transparent;
    color: var(--sf-color-control-icon-active);

    cursor: pointer;
    transform: translateY(-50%);

    transition: background-color var(--sf-duration-fast) var(--sf-easing-standard),
    color var(--sf-duration-fast) var(--sf-easing-standard);

    @include mixins.focus-visible-ring;

    &:hover:not(:disabled) {
      background-color: var(--sf-primary-10);

      color: var(--sf-color-primary-pressed);
    }

    &:disabled {
      background-color: transparent;
      color: var(
          --sf-color-control-placeholder-disabled
      );

      cursor: not-allowed;
    }
  }

  &__visibility-icon {
    width: var(--sf-size-icon-lg);
    height: var(--sf-size-icon-lg);

    color: currentColor;
  }

  &__control-wrapper {
    &:focus-within {
      .password-field__placeholder-icon {
        color: var(--sf-color-control-icon-active);
      }
    }

    &:has(
      .password-field__control:not(
        :placeholder-shown
      )
    ) {
      .password-field__placeholder-icon {
        color: var(--sf-color-control-icon-active);
      }
    }
  }

  &__control-wrapper--invalid {
    .password-field__placeholder-icon,
    .password-field__visibility-button {
      color: var(--sf-color-error);
    }
  }

  &__control-wrapper--disabled {
    .password-field__placeholder-icon,
    .password-field__visibility-button {
      color: var(
          --sf-color-control-placeholder-disabled
      );
    }
  }
}
