@use '@angular/material' as mat;

@mixin app-theme() {
  @include mat.theme(
      (
        color: (
          primary: mat.$azure-palette,
          tertiary: mat.$blue-palette,
          theme-type: light,
        ),
        typography: Roboto,
        density: 0,
      )
  );
}
