html {
  font-size: 100%;
  color-scheme: light;
}

body {
  background-color: var(--sf-color-background);
  color: var(--sf-color-text-primary);

  font-family: var(--sf-font-family), sans-serif;
  font-size: var(--sf-font-size-main);
  font-weight: var(--sf-font-weight-medium);
  line-height: var(--sf-line-height-main);
  letter-spacing: var(--sf-letter-spacing-default);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
textarea,
select {
  font-family: inherit;
  letter-spacing: inherit;
}

button {
  color: inherit;
}

input,
textarea,
select {
  color: var(--sf-color-control-value);
}

::selection {
  background-color: var(--sf-primary-30);
  color: var(--sf-color-text-primary);
}
